.bg-contain{
    width: 100%;
    height: auto;   
    position: absolute;
    min-height: 100%;
    background-color: #cccccc;
}
.labelgen{
    margin-top: -10px;
    margin-bottom: 5px;
    width: 30%;
    opacity: 0.8;
}
.labelbir{
    margin-top: -10px;
    width: 30%;
    opacity: 0.8;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #cccccc;
}
.login-form{
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px dotted #cccccc;
    border-radius: 10px;
}
.title{
    font-size: 28px;
    text-align: center;
   
}
.change{
    padding: 7.5px 10px;
}
.active{
    background-color: rgb(235, 149, 20);
    color: wheat;
}
.inactive{
    background-color: rgb(180, 176, 169);
    color: wheat;
    padding: 7.5px 15px;
}
.input-box{
    margin-bottom: 5px;
}
.input-box input{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
}
.right{
    padding: 7.5px 15px;
    width: 50%;
}
.left{
    padding: 7.5px 15px;
    width: 50%;
}
.left input{
    height: 30px;
}
.btn-box{
    text-align: right;
    margin-top: 10px;
}
.btn-box button{
    padding: 7.5px 15px;
    border-radius: 2px;
    background-color: #009999;
    color: #ffffff;
    border: none;
    outline: none;
}
#checkuser{
    color: red;
    font-size: 13px;
}
#register_checkuser{
    color: red;
    font-size: 13px;
}
#checkemail{
    color: red;
    font-size: 13px;
}
#checkpass{
    color: red;
    font-size: 13px;
}
#register-checkpass{
    color: red;
    font-size: 13px;
}
#checkrepass{
    color: red;
    font-size: 13px;
}
.form-check-input{
    width: 20px;
    height: 20px;
}
.form-check-label{
    margin-right: 10px;
}
.row{
    margin-bottom: 10px;
}
.form-group{
    margin-top: -10px;
}
.input-text{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
    margin-top: -10px;
}